<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="profile__title profile__title--bg-color-1">
  <h2>Éditer mon profil</h2>
</div>
<div class="form" style="height: 88vh;">
  <div class="form__content center">
    <div class="field">
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form__control", placeholder: 'Prénom' %>
    </div>

    <div class="field">
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form__control", placeholder: 'Nom' %>
    </div>

    <div class="field">
    <%= f.text_field :alias, autofocus: true, autocomplete: "alias", class: "form__control", placeholder: 'Alias' %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Actuellement en attente de confirmation pour : <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", class: "form__control", placeholder: 'Nouveau mot de passe (6 char. minimum)' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form__control", placeholder: 'Confirmation nouveau mot de passe' %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form__control", placeholder: 'Mot de passe actuel' %>
    </div>

    <div class="right form__button">
      <%= f.submit "Mettre à jour", class: 'button__normal button__info' %>
    </div>
  <% end %>
  <div class="right form__button">
    <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Voulez vous vraiment supprimer votre profil ?" }, method: :delete, class: 'right button__normal-remove-account button__danger' %>
  </div>
  <div class="right form__button">
    <%= link_to "Retour", :back %>
  </div>
    </div>
      </div>