<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="profile__title profile__title--bg-color-1">
  <h2 class="center">S'inscrire</h2>
</div>

    <div class="form">
  <div class="form__content center">

    <div class="form__links">
      <%= render "devise/shared/social" %>
    </div>

    <div>
      <p>OU</p>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__control", placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", class: "form__control", placeholder: 'Mot de passe (6 char. minimum)' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form__control", placeholder: 'Confirmation mot de passe' %>
    </div>

    <div class="form__links-bottom">
    <div class="center form__button">
      <%= f.submit "S'inscrire", class: 'button__normal button__form button__info' %>
    </div>

    <div class="form__links">
    <%= render "devise/shared/connect-linkto" %>
    </div>

  </div>
</div>
<% end %>