yo <%=@user.email%>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "uploader l'avatar" %>
<% end %>

<%if @user.avatar.attached?%>
<%= image_tag @user.avatar%>
<%else%>
  <p>Il n'y a pas encore d'avatar lié à cet utilisateur</p>
<%end%>