<div class="profile">
  <div class="profile-title">
    <h1>Mon profil</h1>
    <button>Modifier</button>
  </div>
  <div class="profile-info">
    <div class="profile-info-pic">
      <%= form_tag user_avatars_path(@user), multipart: true do %>
        <%= file_field_tag :avatar %>
        <%= submit_tag "uploader l'avatar" %>
      <% end %>
      <%if @user.avatar.attached?%>
      <%= image_tag @user.avatar%>
      <%else%>
        <p>Il n'y a pas encore d'avatar lié à cet utilisateur</p>
      <%end%>
    </div>
    <div class="profile-info-text">
      <p>Alias : <%= @user.alias%> </p>
      <p>Prénom : <%= @user.first_name%> </p>
      <p>Nom : <%= @user.last_name%> </p>
      <p>Email : <%= @user.email%> </p>
    </div>
  </div>
  <div class="profile-my-idioms">
    <h2>Mes créations</h2>
    <% @idioms.each do |idiom| %>
      <br><%= idiom.title_en %>
      <br><%= idiom.title_fr %>
      <br><%= link_to "Voir", idiom_path(idiom.id) %>
      <br><%= link_to "Supprimer", idiom_path(idiom.id), :method => :delete, remote: 'true', data: { confirm: 'Sûr?' } %>
    <% end %>
  </div>
  <div class="profile-my-likes">
    <h2>Mes préférées</h2>
    <% @likes.each do |like| %>
    <br>Expression numéro <%= @likes.index(like) + 1 %>
    <br><%= like.idiom.title_en %>
    <br><%= like.idiom.title_fr %>
    <br><%= link_to "Voir", idiom_path(like.idiom.id) %>
    <% end %>
  </div>
</div>
