<% @idioms.each do |idiom| %>
<div class="card">
    <div class="card__bottom">
        <div class="card__title">
        <b style="font-weight: 800;" class="card__title--first show__links"><%= link_to "#{idiom.title_en.capitalize}", idiom_path(idiom.id) %></b><%= idiom.grammatical_type.capitalize[0..2] %>.<br><span class="card__title--second"><%= idiom.title_fr.capitalize %></span>
        </div>
        <div class="card__row--social" style="padding-right: 1.6vw;">
            <%= social_share_button_tag("On ne dit pas #{idiom.title_en} mais #{idiom.title_fr} ! Merci le @SLAF_FR") %>
        </div>
    </div>
    <div class="card__body">
        <p><%=idiom.body%><p>
        <i>"<%=idiom.example_en%>"</i>
        <p><i>"<%=idiom.example_fr%>"</i><p>

    </div>
    <div class="card__bottom">
        <div class="card__row">
            <%= render :partial => "like", :locals => { :idiom => idiom } if current_user != nil %>
            <%= render :partial => "unlike", :locals => { :idiom => idiom } if current_user != nil %>
        </div>
        <div class="card__row">
        <%= link_to "VOIR", idiom_path(idiom.id), class: 'button__normal button__info' %>
        </div>
    </div>
</div>
<%end%>
