<div class="card">
    <% @idiom.comments.each do |comment|%>
    <div class="show__body">
        <%=comment.body%>
    </div>
    
        <div class="card__bottom">
            <div class="show__links">
                <%= link_to 'Supprimer', idiom_comment_path(@idiom.id, comment.id), method: 'DELETE' %> /
                <%= link_to 'Modifier', edit_idiom_comment_path(@idiom.id, comment.id) %>
            </div>
            <div>
                Par <b><%=comment.user.alias%></b>, <%=comment.created_at.strftime("le %d %b. %Y")%>
            </div>
        </div>
    <%end%>
</div>