<div style="float: left;">
  <% pre_like = idiom.likes.find { |like| like.user_id == current_user.id} rescue nil %>
    <% if pre_like %>
      <%= button_to idiom_like_path(idiom, pre_like), method: :delete, class: "button__likes--index" do %>
        <span style="font-size: 16px;"><%= idiom.likes.count %></span>
        <%= render partial: "svgs/like.html.erb" %>
      <% end %>
    <% else %>
      <%= button_to idiom_likes_path(idiom), method: :post, class: "button__likes--index" do %>
        <span style="font-size: 16px;"><%= idiom.likes.count %></span>
        <%= render partial: "svgs/liketwo.html.erb" %>
      <% end %>
    <% end %>
</div>