<%= form_for(:idioms, url:(idioms_path), action: "create", method: :post) do |f| %>
<div class="form--new">
  <div class="form__content--new center">
    <h4 class="center">Toutes les expressions du SLAF ont été proposées par nos utilisateurs, à vous de jouer !</h4>
    <p>Un mot en franglais que tu entends souvent et qui t'agace ?</p> 
    <p>C'est l'occasion de le partager</p>
    <div>
      <%= f.text_area :title_en, autofocus: true, autocomplete: "title_en", class: "form__control--new", placeholder: 'Mot en franglais (max 50 carac.)' %>
    </div>
    <div>
      <%= f.text_area :title_fr, autofocus: true, autocomplete: "title_fr", class: "form__control--new", placeholder: 'Mot en beau français (max 50 carac.)' %>
    </div>
      <p>N'hésite pas à partager plus sur ce mot: sa définition, son usage...</p>
    <div>
      <%= f.text_area :body, autofocus: true, autocomplete: "body", class: "form__control--new", placeholder: 'Explication (15 - 140 carac.)' %>
    </div>
      <p> Et à ajouter quelques exemples d'utilisation bien pensés.</p>
      <p>En français et en franglais</p>
    <div>
      <%= f.text_area :example_fr, autofocus: true, autocomplete: "example", class: "form__control--new", placeholder: "Exemples d'utilisation en français (15 - 140 carac.)" %>
    </div>
    <div>
      <%= f.text_area :example_en, autofocus: true, autocomplete: "example", class: "form__control--new", placeholder: "Exemples d'utilisation en franglais (15 - 140 carac.)" %>
    </div>
    <div class="row">
    <div class="col-3">
      <%= f.label :grammatical_type, "Verbe" %>
      <%= f.radio_button :grammatical_type, "Verbe" %>
    </div>
    <div class="col-3">
      <%= f.label :grammatical_type, "Expression" %>
      <%= f.radio_button :grammatical_type, "Expression" %>
    </div>
    <div class="col-3">
      <%= f.label :grammatical_type, "Adjectif" %>
      <%= f.radio_button :grammatical_type, "Adjectif" %>
    </div>
    <div class="col-3">
      <%= f.label :grammatical_type, "Nom" %>
      <%= f.radio_button :grammatical_type, "Nom" %>
    </div>
    </div>
    <div class="right form__button">
      <%= f.submit "Soumettre", class: 'button__normal button__info' %>
    </div>
</div>
</div>
<% end %>