<div class="center show__title">
        <h1><b><%= @idiom.title_fr.capitalize %></b><span>&nbsp;&nbsp;<%= @idiom.grammatical_type.capitalize[0..2] %>.</span><br><%= @idiom.title_en.capitalize %></h1><span><%= social_share_button_tag("On ne dit pas #{@idiom.title_en} mais #{@idiom.title_fr} ! Merci le @SLAF_FR") %></span>
    </div>
    <div>
        <p><span style="font-weight: bold;">Explications !</span></p>
        <p><%= @idiom.body %></p>
    </div>
    <div>
        <p><span style="font-weight: bold;">Exemple impropre </span></p>
        <p><%= @idiom.example_en %></p>
    </div>
    <div>
        <p><span style="font-weight: bold;">Exemple propre </span></p>
        <p><%= @idiom.example_fr %></p>
    </div>