<div class="center show__title">
        <h1><b style="font-weight: 800;font-family: 'Fraunces'"><%= @idiom.title_en.capitalize %></b><span>&nbsp;&nbsp;<%= @idiom.grammatical_type.capitalize[0..2] %>.</span><br><span class="card__title--second" style="font-size: 32px;font-family: 'Fraunces'"><%= @idiom.title_fr.capitalize %></span></h1><span><%= social_share_button_tag("On ne dit pas #{@idiom.title_en} mais #{@idiom.title_fr} ! Merci le @SLAF_FR") %></span>
    </div>

<div class="card__body">
    <p><%=@idiom.body%><p>
    <i>"<%=@idiom.example_en%>"</i>
    <p><i>"<%=@idiom.example_fr%>"</i><p>
</div>