<%= link_to "admin dashboard", admin_index_path %>
<br />

<% @letters.each do |letter| %>
<%= link_to letter, idioms_path(:letter => letter) %>
<% end %>

<% @idioms.each do |idiom| %>
    <br>
    Français : <%=idiom.title_fr%><br>
    Franglais : <%=idiom.title_en%><br>
    Grammatical type : <%=idiom.grammatical_type%><br>
    Body : <%=idiom.body%><br>
    Example : <%=idiom.example%><br>
    <%= idiom.likes.count %> <%= (idiom.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <%= link_to "Lien vers l'idiome", idiom_path(idiom.id) %><br>

    -----------------------------------------------------
<%end%>
<br>
<%= @idioms.count%> / <%= Idiom.count%>

<%== pagy_nav(@pagy) %>