<div class="card">
    <div class="card__button__bottom--admin">
        <% if current_user != nil %>
            <%= link_to "Editer", edit_idiom_path(@idiom.id), class: "button__normal button__info" if current_user.is_admin? || @idiom.user == current_user %>
            <%= link_to "Supprimer", idiom_path(@idiom.id), :method => 'DELETE', :data => {:confirm => 'Sûr ?'}, class: "button__normal button__danger" if current_user.is_admin? || (@idiom.user == current_user && @idiom.validated?)%>
        <% end %>
    </div>
    <div class="center show__title">
        <h1><b><%= @idiom.title_fr %></b><span>&nbsp;&nbsp;<%= @idiom.grammatical_type.capitalize[0..2] %>.</span><br><%= @idiom.title_en %></h1><span><%= social_share_button_tag("On ne dit pas #{@idiom.title_en} mais #{@idiom.title_fr} ! Merci le @SLAF_FR") %></span>
    </div>
    <div>
        <p><span style="font-weight: bold;">Explications !</span><p>
        <%= @idiom.body %>
    </div>
    <div>
      <p><span style="font-weight: bold;">Exemple impropre </span> <%= @idiom.example_fr %><p>
    </div>
    <div>
        <p><span style="font-weight: bold;">Exemple propre </span><%= @idiom.example_en %> <p>
    </div>
    <div class="card__bottom--profile">
        <div class="card__likes">
            <%= render 'like' if current_user != nil %>
            <%= render 'unlike' if current_user != nil %>
        </div>
        <div>
            <span>Une expression proposée par <b><%= @idiom.user.alias %></b></span>
        </div>
    </div>
</div>
<%= render 'comments_list' if @idiom.comments.length > 0 %>
<%= render 'comments_form' if current_user != nil %>
<%= render 'signin_signout' if current_user == nil %>
