<%= form_for(:comments, url:(idiom_comments_path(@idiom)), action: "create", method: :post) do |f| %>
<br><%= f.label :body, "Commentaire : " %>
<br><%= f.text_area :body %>
<br><%= f.submit %>
<% end %>

<% @idiom.comments.each do |comment|%>
    <%=comment.body%>
    <%= link_to 'Supprimer', idiom_comment_path(@idiom.id, comment.id), method: 'DELETE' %>
    <%= link_to 'Modifier', edit_idiom_comment_path(@idiom.id, comment.id) %>
    <p>ok</p>
    <%=comment.id%><br>
<%end%>

<%= render 'like'%>

