<h1><%= @idiom.title_fr %> / <%= @idiom.title_en %><br></h1>
<p>Définition: <%= @idiom.body %><p><br>
<%= @idiom.example %><br>
<p>Une expression proposée par <b><%= @idiom.user.alias %><p></b>

<% if false %>
  <%= render 'comments_list' %>
  <%= render 'comments_form' %>
<% end %>

  <%= form_for(:comments, url:(idiom_comments_path(@idiom)), action: "create", method: :post, remote: true) do |f| %>
      <br><%= f.label :body, "Commentaire : " %>
      <br><%= f.text_area :body, placeholder: 'Ton commentaire (2 - 100 carac.)' %>
      <br><%= f.submit 'POSTER', class: 'button__small button__info' %>
  <% end %>

  <% @idiom.comments.each do |comment|%>
          <%=comment.body%>
          <%= link_to 'Supprimer', idiom_comment_path(@idiom.id, comment.id), method: 'DELETE' %>
          <%= link_to 'Modifier', edit_idiom_comment_path(@idiom.id, comment.id) %>
          <%=comment.created_at%><br>
      <div id="commentAjax">
      </div>
  <%end%>


<%= render 'like' if current_user != nil %>
<%= render 'unlike' if current_user != nil %>

<%= social_share_button_tag("S.L.A.F") %>
