<%= stylesheet_link_tag params[:controller] %>

<div class="home__menu">
  <div class="home__defileparent">
    <span class="home__defileparent--text"
    data-text=" TODO • FOCUS GROUP • SIDE PROJET • ONBOARDING • ">
    TODO • FOCUS GROUP • SIDE PROJET • ONBOARDING •
    </span>
  </div>
  <%= link_to idioms_path, class: 'home__logo button__large'  do %>
    <%= image_tag "/logoslaf.png", id: "navbar__logo" %>
  <% end %>
  <h2 class="home__tagline">LE DICTIONNAIRE DES NOMS IMPROPRES</h2>
  <p class="home__text">Bienvenue sur le <b>SLAF</b> –<b>S</b>yndicat de <b>L</b>utte <b>A</b>nti <b>F</b>ranglais– <br>le premier dictionnaire de traduction des anglicismes.<br>Aide-nous dans notre quête en ajoutant les anglicismes<br> que tu rencontres au bureau ou chez la boulangère.</p>
  <div class="home__buttons">
    <%= link_to "CRÉER UNE EXPRESSION", new_idiom_path, class: 'button__large--home button__info', style: "margin-right: 15px;" %>
    <%= link_to "PARCOURIR LE SITE", idioms_path, class: 'button__large--home button__success' %>
  </div>
  <div class="home__defileparent">
    <span class="home__defileparent--text"
    data-text=" BENCHMARK • DEADLINE • SOFT SKILLS • À DATE • ">
    BENCHMARK • DEADLINE • SOFT SKILLS • À DATE •
    </span>
  </div>
</div>