  <%= form_tag url_for(action: 'update'), method: "patch" do %>
      <label>title_fr</label>
       <%= text_field_tag 'title_fr', @idiom.title_fr, class: 'form-control' %>
      <label>title_en</label>
      <%= text_field_tag 'title_en', @idiom.title_en, class: 'form-control' %>
      <label>body</label>
      <%= text_field_tag 'body', @idiom.body, class: 'form-control' %>
      <label>example</label>
      <%= text_field_tag 'example', @idiom.example, class: 'form-control' %>
      <label>grammatical_type</label>
      <%= text_field_tag 'body', @idiom.grammatical_type, class: 'form-control' %>
      <%= submit_tag 'Modifier', class: 'btn btn-outline-warning btn-m' %>
<% end %>



