<div class="card">
    <div class="center show__title">
        <h1><b><%= @idiom.title_fr %></b><span>&nbsp;&nbsp;<%= @idiom.grammatical_type.capitalize[0..2] %>.</span><br><%= @idiom.title_en %></h1><span><%= social_share_button_tag("S.L.A.F") %></span>
    </div>
    <div>
        <p><span style="font-weight: bold;">Définition:</span> <%= @idiom.body %><p>
        <%= @idiom.example %>
    </div>
    <div class="card__bottom">
        <div>
            <%= render 'idioms/like' %>
            <%= render 'idioms/unlike' %>
        </div>
        <div>
            <span>Une expression proposée par <b><%= @idiom.user.alias %></b></span>
        </div>
    </div>
    <div class="card__button__bottom">
            <%= link_to "Editer", edit_admin_idiom_path(@idiom.id), class: "button__normal button__info" %>
            <%= link_to "Supprimer", admin_idiom_path(@idiom.id), :method => 'DELETE', :data => {:confirm => 'Sûr ?'}, class: "button__normal button__danger" %>
            <%if @idiom.validated == false %>
            <%= link_to "Valider", {:name => "submit", :value => "true"}, class: "button__small button__success" %><br>
            <%= link_to "Refuser", {:name => "submit", :value => "false"}, class: "button__small button__danger" %><br>
            <%end%>
    </div>
</div>