
<div class="navbar" id="burger__menu">
  <div class="navbar__top">
      <a class="navbar__top--logo" href="/" id="menu__logo"><img id="navbar__logo" src="/logoslaf.png" alt="rss feed"></a>
      <div class="navbar__mobile--close" id="burger__button2">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
          <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
        </svg>
  </div>
      <ul class="list__unstyled">
        <%if current_user%>
          <%= link_to "CRÉER UNE EXPRESSION", new_idiom_path, class: 'button__letter button__info', style: "margin-bottom: 15px;" %>
        <% end %>
        <%= form_for "", html: {class: 'search__form'}, url: idioms_path, role: "search", method: :get do%>
        <%= text_field_tag :search, @search, placeholder: "Rechercher", class: 'search__form--control'%>
        <%= button_tag(type: "submit", class: "button__search button__danger") do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        <% end %>
        <% end%>
      </ul>
      <div class="navbar-browse">
        <span id="parcourir__button">Parcourir&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" id="browse__arrow">
  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
</svg>
</span>
        <div class="row" id="letter__tags">
            <% @letters.first(6).each do |letter| %>
            <div class="col-2">
              <%= link_to letter, idioms_path(:search => letter), class: 'button__letter button__info' %>
            </div>
            <% end %>
            <div class="display__numbers" id="parcourir__list">
            <% @letters.last(20).each do |letter| %>
            <div class="col-2">
              <%= link_to letter, idioms_path(:search => letter), class: 'button__letter button__info' %>
            </div>
            <% end %>
            </div>
        </div>
      </div>
      <div class="navbar__buttons">
        <%= render 'application/random' %>
        <%= link_to "FLORILÈGE", idioms_path(:search => "top"), class: 'button__large button__success' %>
      </div>
    </div>
    <div class="navbar__bottom">
      <ul class="list__unstyled">
        <li><%= link_to "Accueil", root_path, class: 'nav-link' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Profil", user_path(current_user.id), class: 'nav-link' %></li>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
          <%if current_user.admin == true%>
            <li><%=link_to 'Admin dashboard', admin_index_path, class: 'nav-link'%></li>
          <%end%>
        <% else %>
          <li><%= link_to "S'inscrire", new_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to "Se connecter", new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
</div>