<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

  </head>
  <% unless action_name == "home" %>
  <%= render 'layouts/navbar'%>
  <% end %>
  <main>
    <% unless action_name == "home" %>
    <%= render 'layouts/navbar_mobile'%>
    <% end %>
    <div class="content">
      <%= render 'layouts/flash'%>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= yield %>
      <% unless action_name == "home" %>
      <%= render 'layouts/footer' if @pagy != nil %>
      <% end %>
    </div>
  </main>
  <%= javascript_include_tag "randombtn.js" %>
  <%= javascript_include_tag "burger" %>
  <%= javascript_include_tag "browse" %>
</html>
