<!DOCTYPE html>
<html>
  <head>
    <title>SLAFProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/navbar'%>
    <main>
      <%= render 'layouts/navbar_mobile'%>
      <div class="content">
        <%= render 'layouts/flash'%>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= yield %>
        <%= render 'layouts/footer' if @pagy != nil %>
      </div>
    </main>
  </body>


</html>
