<!DOCTYPE html>
<html>
  <head>
    <title>SLAFProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/flash'%>
    <%= render "devise/shared/error_messages", resource: resource %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <div class="content">
      <%= yield %>
    </div>
  </body>

  <%= render 'layouts/footer'%>
</html>
